<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <img src="/imgs/logo.jpg">
        <h1>ReVeste Kids</h1>
        <h2>BEM-VINDO(A)!</h2>
        <p>Entre em sua conta para começar a trocar roupas</p>
        <form action="/login" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="email">
            </div>
            <div>
                <label for="senha">Senha</label>
                <div>
                    <input type="password" id="senha" name="senha" placeholder="senha">
                </div>
            </div>
            <button type="submit">
                Login
            </button>
        </form>
        <a href="/cadastro">
            Criar conta
        </a>
    </div>
    <p>Um produto RalKy Tech</p>
</body>