<aside class="sidebar-menu">
    
    <div class="menu-header">
        <button class="menu-toggle">☰</button>
    </div>

    <nav class="menu-links">
        
        <a href="/feed" class="sidebar-item active">
            <span class="icon"></span> 
            Início
        </a>
        <a href="/roupas" class="sidebar-item">
            <span class="icon"></span> 
            Minhas Roupas
        </a>
        <a href="/trocas" class="sidebar-item">
            <span class="icon"></span> 
            Status das Troca
        </a>
        <a href="/perfil" class="sidebar-item">
            <span class="icon"></span> 
            Perfil
        </a>
        <a href="/configuracoes.ejs" class="sidebar-item">
            <span class="icon"></span> 
            Configurações
        </a>
        
        </nav>
</aside>